<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">
				<span>Dashboard - User List</span>
				<b-btn size="sm" variant="outline-success" class="float-right" @click="showForm(0)">Add User</b-btn>
			</h6>
			<b-table ref="table" responsive hover :items="items" :fields="fields">
				<template slot="photo" slot-scope="user">
					<img class="rounded-circle img-thumb border w-100" :src="user.item.photo">
				</template>
				<template slot="name" slot-scope="user">
					<div><a href="#" target="_blank">{{user.item.first_name+' '+user.item.middle_name+' '+user.item.last_name}}</a></div>
					<small class="text-muted">{{user.item.profession}}</small>
				</template>
				<template slot="roles" slot-scope="user">
					<small class="border p-1 rounded mr-1 text-muted" v-for="role in user.item.roles">{{role}}</small>					
				</template>
				<template slot="action" slot-scope="user">
					<b-btn size="sm" variant="outline-primary" @click="showForm(user.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" @click="remove(user.item)" v-show="user.item.status == 'active'">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" @click="restore(user.item)" v-show="user.item.status == 'trashed'">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" @click="destroy(user.item)" v-show="user.item.status == 'trashed' || user.item.status == 'inactive'">Destroy</b-btn>
					<!-- <b-btn size="sm" variant="outline-warning" @click="block(user.item)" v-if="user.item.status == 'active'">Block</b-btn>
					<b-btn size="sm" variant="outline-primary" @click="unblock(user.item)" v-if="user.item.status == 'block'">Unblock</b-btn> -->
				</template>
			</b-table>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal">
			<b-form @submit="onSubmit">
				<input type="hidden" v-model="form.id" name="id">
				<b-form-group label="First Name">
					<b-form-input type="text" v-model="form.first_name" required></b-form-input>
				</b-form-group>
				<b-form-group label="Middle Name">
					<b-form-input type="text" v-model="form.middle_name"></b-form-input>
				</b-form-group>
				<b-form-group label="Last Name">
					<b-form-input type="text" v-model="form.last_name"></b-form-input>
				</b-form-group>
				<b-form-group label="Profession">
					<b-form-input type="text" v-model="form.profession"></b-form-input>
				</b-form-group>
				<b-form-group label="Email">
					<b-form-input type="email" v-model="form.email" required></b-form-input>
				</b-form-group>
				<b-form-group label="Country">
					<b-form-input type="text" v-model="form.country"></b-form-input>
				</b-form-group>
				<b-form-group label="Roles:">
					<b-form-select multiple :select-size="4" v-model="form.roles" :options="roles" required> </b-form-select>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" id="user-submit">Submit </b-button>
				</b-form-group>
			</b-form>
    </b-modal>
	</div>
</template>

<script>
export default {
  data () {
    return {
      items: [],
      roles: [],
			fields: { 
				photo: {label: '', thStyle: 'width: 5rem;'}, 
				name: {}, 
				country: {}, 
				status: {}, 
				roles: {}, 
				action:{}
			},
			formTitleModal: 'Add New User',
			form:{
				id: 0,
				first_name: '',
				middle_name: '',
				last_name: '',
				profession: '',
				country: '',
				email: '',
				roles: []
			}
    }
  },
	methods: {
		remove(user){
			if(confirm('Remove '+user.first_name+' '+user.middle_name+' '+user.last_name+'?')){
				axios.put('api/v1/user/trash/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		restore(user){
			if(confirm('Restore '+user.first_name+' '+user.middle_name+' '+user.last_name+'?')){
				axios.put('api/v1/user/restore/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		destroy(user){
			if(confirm('Remove '+user.first_name+' '+user.middle_name+' '+user.last_name+' permanently?')){
				axios.delete('api/v1/user/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		/*block(user){
			if(confirm('Block '+user.first_name+' '+user.middle_name+' '+user.last_name+'?')){
				axios.put('api/v1/user/block/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		unblock(user){
			if(confirm('Unblock '+user.first_name+' '+user.middle_name+' '+user.last_name+'?')){
				axios.put('api/v1/user/unblock/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},*/
    showForm(user){
			this.roles = [];		
			let _roles = [];		
			let _selected = [];
			
			this.form.id = 0;
			this.form.first_name = '';
			this.form.middle_name = '';
			this.form.last_name = '';
			this.form.profession = '';
			this.form.country = '';
			this.form.email = '';
			this.form.roles = [];
			
			axios.get('api/v1/role')
				.then(response => {								
					response.data.forEach(function(item, i){
						_roles.push({text: item.name,	value: item.id});
					});
					this.roles = _roles;
					
					if(user != 0){
						this.form.id = user.id;
						this.form.first_name = user.first_name;
						this.form.middle_name = user.middle_name;
						this.form.last_name = user.last_name;
						this.form.profession = user.profession;
						this.form.country = user.country;
						this.form.email = user.email;
						
						_roles.forEach(function(item){
							if(user.roleIds.indexOf(item.value) >= 0){
								_selected.push(item.value);
							}
						});
						this.form.roles = _selected;
					}
				});
      this.$refs.modal.show()
		},
		onSubmit(evt){
			evt.preventDefault();
			
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			
			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/v1/user/':'api/v1/user/'+this.form.id,
				data: this.form
			}).then(response => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('.fa-spinner').remove();
				
				this.fetchData();
				this.$refs.modal.hide()
			})
		},
		fetchData(ctx){
			axios.get('api/v1/user')
				.then(response => {
					this.items = response.data;					
					return items;
				}).catch(error => {
					return [];
				});		
		}
  },
	mounted(){
		this.fetchData();
	}
}
</script>